* {
  font-family: "Nunito", sans-serif;
}

.navbar{
  background-color:rgb(209, 64, 64) !important;
}
.navbar-light .navbar-brand {
  color: white !important;
}

.search-section,
.fav-section,
.about-sec {
  /* background: #dfe5f3; */
  background-image: url(../images/superhero.jpg);
}
/* .about-body{
  color: white !important;
} */
.white-text{
  color: white;
}
#info{
  background-color: #dfe5f3;
  padding: 1rem;
  border-radius: 15px;
}
.search-container {
  width: 500px !important;
  padding: 50px;
}

.result-section {
  background-color: #dfe5f3;
}
.result-section h2 {
  text-align: center;
  padding: 20px 0px;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #a6445d;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}
/*  Alert type box displaying in the bottom of the screen */
#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

/*  Mobile Responsive  */
@media only screen and (max-width: 768px) {
  .search-container {
    width: 100% !important;
    padding: 50px;
  }

  div#superhero {
    width: 100%;
  }
}
